<!DOCTYPE html>
<html>
<head>
  <title>Custom Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="js/Client.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1.0.0-beta.2/leaflet.css" />

  <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
  <script src="/vendor/lodash/dist/lodash.js"></script>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <!-- Loading Splash -->
  <div id='loading'>
    <div id='loading-box' style='text-align: center;'>
    <p style="margin:0px;color:#929191;top:50px; position:relative; font-style: italic;">Powered By</p>
    <img width='20%' src='/images/geomarvel-logo.png' />
      <div class="progress">
          <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <!-- End Loading Splash -->
  <nav class="teal">
  <% if (user.gravatar != "") { %>
    <a data-activates='dropdown1' data-beloworigin="true" class='dropdown-button' href=''><img src='<%= user.gravatar %>' width='32px' width='32px' style=' border-radius: 50%;margin: 15px; box-shadow: 0px 0px 1px 1px #efefef;' /></a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content' style="maring-left:20px">
      <li><a href="#!">Option1</a></li>
      <li><a href="#!">Option2</a></li>
      <li class="divider"></li>
      <li><a href="#!">Option3</a></li>
    </ul>
  <% } %>
  <a href="#" class="brand-logo">Dashboard</a>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">Home</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">Home</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
<!-- En of Nav -->
    <div class="row">
      <div class="col s12">
      <div class="row">
        <div class="col s12 m6">
          <div class="card hoverable">
<!--           <div class="card-content">
          <span class="card-title black-text">Form Summaray</span>

          </div> -->
          <div id='map'></div>
          <div id='chart0'></div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card-panel hoverable">
            <div class="card-content">
              <span class="card-title black-text">Form Summaray</span>
                  <select id="formlist">
                    <option value="1">In Season Assessment</option>
                    <option value="2">Pre Season Assessment</option>
                    <option value="3">End of Season Assessment</option>
                  </select>

            </div>
          </div>
        </div>
                <div class="col s12 m6">
          <div class="card-panel hoverable">
            <div class="card-content">
              <span class="card-title black-text">Select District</span>
               <div id='chart2'></div>
               <select id="districts">
                 <option value="all">All</option>
               </select>
            </div>
          </div>
        </div>
                        <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-content">
              <span class="card-title black-text">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>

            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>


                <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-content">
              <span class="card-title black-text">Card Title</span>
              <div id='chart1'></div>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-content">
              <span class="card-title black-text">Card Title</span>
              <div id='chart1'></div>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>



      </div>


      </div>


    </div>

     <!-- Page Layout here -->
         <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright GeoMarvel, LLC
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
          <!-- Modal Trigger -->

  <!-- Modal Structure -->
<script>
  var user = <%-JSON.stringify(user)%>
  console.log(user);
</script>
<script>
  var version = '0.0.1',
  pathname = location.pathname.replace(/\/[^/]+$/, ''),
  URL = pathname + (pathname.substr(-1) !== '/' ? '/' : ''),
  dojoConfig = {
    parseOnLoad: false,
    isDebug: false,
    async: true,
    cacheBust: 'v=' + version,
    packages: [
      { name: 'js', location: URL + 'js' },
    ],
    deps: [
      'dojo/domReady!'
    ],
    callback: function() { require(['js/main']);
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/leaflet/1.0.0-beta.2/leaflet.js" async></script>
<script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.8/esri-leaflet.js" async></script>
<script src="https://js.arcgis.com/3.16/" async></script>
  <!-- <script src="/bootloader.js"></script> -->
</body>
</html>
